@using ASP.Server.ViewModels
@model EditBookViewModel

@{
    ViewData["Title"] = "Modifier un livre";
}

<style>
    .input-group {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input, textarea, select, .form-check {
        flex-basis: 85%;
    }

    label {
        flex-basis: 10%;
    }
</style>

<h2>@ViewData["Title"]</h2>

<form asp-controller="Book" asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="input-group">
        <label asp-for="Nom">Nom du livre</label>
        <input asp-for="Nom" class="form-control" />
        <span asp-validation-for="Nom" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label>Auteurs</label>
        <select asp-for="SelectedAuteurIds" asp-items="@(new SelectList(Model.AvailableAuteurs, "Id", "Nom"))" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="SelectedAuteurIds" class="text-danger"></span>
    </div>



    <div class="input-group">
        <label asp-for="Prix">Prix</label>
        <input asp-for="Prix" class="form-control" value="@Model.PrixInitial" />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

    <div class="input-group">
        <label asp-for="Contenu">Contenu</label>
        <textarea asp-for="Contenu" class="form-control">@Model.ContenuInitial</textarea>
        <span asp-validation-for="Contenu" class="text-danger"></span>
    </div>


    <div class="input-group">
        <label asp-for="SelectedGenreIds">Genres</label>
        <select asp-for="SelectedGenreIds" asp-items="@(new SelectList(Model.AvailableGenres, "Id", "Nom"))" class="form-control" multiple="multiple"></select>
        <span asp-validation-for="SelectedGenreIds" class="text-danger"></span>
    </div>

    <input type="submit" value="Enregistrer les modifications" class="btn btn-primary" style="margin-top: 20px;" />
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
